.form {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
  
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
  
.submit {
    align-self: center;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 20px;
    font-weight: 500;
}
  