.form {
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  
.string {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
  
.halfString {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.color {
    width: 50px;
    margin-left: 10px;
}
  
.radio_btn {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.radio {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
  
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.submit {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 10px;
    font-weight: 500;
}
  